.card {
    background: #f7fafc;
    border: 1px solid #cfdee8;
    border-radius: 5px;
    padding: 1em;
    margin-right: 3%;
    width: 25vw;
}
.cardPrice {
    font-size: 32px;
}

@media screen and (max-width: 767px) {
    .card{
        width: 80vw;
        margin-bottom: 2em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .card{
        width: 40vw;
    }
}