.content {
    background: #010f1c;
    padding: 1em;
    display: flex;
    color: #ffffff;
}
/* .contactImage {
    height: 80vh;
} */
.contactText {
    margin-left: 5%;
}
.contactForm {
    display: flex;
    flex-direction: column;
    width: 40vw;
}
.label {
    margin: 2% 0 1% 0;
}
.input {
    height: 5vh;
    border: 1px solid #0000001e;
    border-radius: 5px;
    background: #e8f0f2;
}
.input::placeholder {
    padding-left: 1em;
}
.textarea {
    height: 15vh;
    border: 1px solid #0000001e;
    border-radius: 5px;
    background: #e8f0f2;
}
.submitButton {
    background: #d9d9d9;
    padding: 1em;
    border: none;
    border-radius: 5px;
    margin-top: 3%;
    height: 8vh;
    width: 15vw;
}
@media screen and (max-width: 767px) {
    .content {
        flex-direction: column;
    }
    .contactImage {
      width: 80vw;
      height: auto;
      margin: 5% 0;
    }
    .contactForm {
        width: 80vw;
    }
    .submitButton {
        width: 50vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .contactImage {
        height: 30vh;
        margin-top: 25%;
    }
    .contactForm {
        width: 40vw;
    }
    .submitButton {
        width: 20vw;
    }
}