.servicesTop {
    display: flex;
    justify-content: space-between;
    background: #010f1c;
    color: #ffffff;
    padding: 2em;
}
.servicesTop h1 {
    font-size: 4em;
}
.servicesTop p{
    line-height: 1.57;
}
.serviceSection {
    margin-top: 3%;
    padding: 0 4em;
}
.cardContainer {
    display: flex;
}
@media screen and (max-width: 767px) {
    .servicesTop{
        flex-direction: column;
        align-items: center;
    }
    .servicesRight {
        height: 40vh;
        margin-top: 3%;
    }
    .cardContainer {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .servicesRight {
        height: 40vh;
        margin-top: 15%;
    }
}